a:hover{
  color:green;
}
body{
  display:flex;
  flex-direction: column;
}
main{
  display:flex;
  flex: auto
}
aside{
  flex:1;
}

article{
  flex:3;
}
.comment_wrapper{
  width:80vw;
  margin:0 auto;
  heigh:500px;
  background:rgba(255,228,181,0.3);
}
